// figure out why import is not working
@import "./navbar.less";
// TODO: make these correct like #xxyyzz with good colors
@greyjoy: #FF9900;
@lannister: #EA0825;
// @martell:
@stark: #549F00;
@targaryen: #232323;
@thronesy-black: #333;
@white-walkers: #2294F2;

@house-border-left: {
    .greyjoy {
        border-left: 4px solid @greyjoy;

    }
    .lannister {
        border-left: 4px solid @lannister;
    }
    .white-walkers {
        border-left: 4px solid @white-walkers;
    }
    .stark {
        border-left: 4px solid @stark

    }
    .targaryen {
        border-left: 4px solid @targaryen;
    }
};

@house-border-left-thick: {
    .greyjoy {
        border-left: 8px solid @greyjoy;

    }
    .lannister {
        border-left: 8px solid @lannister;
    }
    .white-walkers {
        border-left: 8px solid @white-walkers;
    }
    .stark {
        border-left: 8px solid @stark

    }
    .targaryen {
        border-left: 8px solid @targaryen;
    }
};

.page-section-header {
    margin-top: 0px;
}

.tag-images-container {
    display: flex;
}

.tag-image {
    height: 40px;
    margin:0 10px;
    border: 1px solid #323232;
}

.well {
    border: 5px solid blue;
}

.navbar {
    background-color: #232323;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    min-height:50px;
    margin-bottom: 20px;
}

.navbar .container li a {
    color: #BCBCBC !important;
}

.navbar .container li a:hover {
    transition: background-color 0.5s ease;
    color: white !important;
    background-color: #333;
}


.navbar .navbar-brand {
    color: white;
}

.house-bankroll-container {
    @house-border-left();
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: .3px;
}


.house-bankroll-housename {
    font-weight:500;
}

.house-bankroll {
    padding-left:10px;
}

.font-bold {
    font-weight: 600;
}

.font-size-16 {
    font-size: 16px;
}

.font-center {
    text-align: center;
}

.prediction-container {
    @house-border-left();
    margin-bottom: 10px;
}

.prediction-box {
    border: 1px solid #7b7b7b;
    // TODO: default border color white?
    border-left: 4px solid white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2)
}

.prediction-box-details {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}

.prediction-box-details-rejected, .prediction-box-details-false {
    background: repeating-linear-gradient(
      45deg,
      #f1f3ff,
      #f1f3ff 10px,
      #fbfbfb 10px,
      #fbfbfb 20px
    );
}

.prediction {
    max-width:70%;
    font-size:18px;
}

.prediction-status-info {
    position: relative;
}

.prediction-status-info:hover {
    cursor: pointer;
}

.prediction-status-info:hover .prediction-status-box {
    display: block;
}

.prediction-status-box {
    position: absolute;
    display: none;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    top: 30px;
    width: 180px;
}

.prediction-status-box:before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f077';
    top: -15px;
    left: 1px;
}

.wager-stat-detail {
    font-weight: 600;
    position: absolute;
    margin-left: 150px;
}

.author {
    max-width:20%;
    font-weight: 600;
    font-size: 12px;
}

.prediction-box-footer {
    display: flex;
    height: 50px;
    background: #bcbcbc;
    padding: 10px 15px;
    align-items: center;
}

.wager-stat-box {
    display: flex;
    height: 50px;
    padding: 10px 15px;
    align-items: center;
}

.background-white {
    background-color: white;
}

.house-picker-container {
    display: flex;
    @house-border-left-thick();
    flex-wrap: wrap;
    justify-content: center;
}

.house-picker-image {
    height: 80px;
    margin: 0 20px 0 0;
}

.house-picker-wrapper {
    display: flex;
    flex-direction: column;
    width: 175px;
    border: 1px solid gray;
    padding: 0px 10px 70px 10px;
    margin-bottom: 10px;
    position: relative;
}

.house-player-wrapper {
    display: flex;
    flex-direction: column;
    width: 175px;
    border: 1px solid gray;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.house-picker-wrapper:not(:last-child) {
    margin-right:10px;
}

.house-banner {
    display: flex;
    align-items: center;
}

.house-banner-name {
    text-align: left;
    font-weight: 600;
}

.house-attribute-title {
    font-weight: 600;
    margin-top: 10px;
}

.house-attribute-detail {
    font-size: 12px;
}

.house-join-button {
    width: 120px;
    margin: 10px;
    position: absolute;
    bottom: 10px;
}

.iron-wagers-throne-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iron-wagers-throne {
    width: 150px;
}

.iron-coin {
    height:30px;
    width: 30px;
    border-radius: 15px;
    background-color: #ff9900;
    background-image: url("/public/media/transparent-coin.png");
    background-size: contain;
    margin-right: 10px;
    border: none !important;
}

.iron-coin-lost {
    background-color: white;
    opacity: .5;
}

.iron-coin.greyjoy {
    background-color: @greyjoy;
}
.iron-coin.lannister {
    background-color: @lannister;
}
// remove this
.iron-coin.martell {
    background-color: @greyjoy;
}
.iron-coin.stark {
    background-color: @stark
}
.iron-coin.targaryen {
    background-color: white;
}
.iron-coin.white-walkers {
    background-color: @white-walkers;
}


.wager-points {
    line-height:  1.0;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;

}

.rules {
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight:300;
    padding: 20px;

}

.rules li {
margin-bottom: 10px;

}

.rules h4 {
    text-align: center;
    margin-bottom: 15px;
}

.prediction-approval-form {
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.user-message-container {
    display: flex;
}

.double-down-box {
    margin-left: 20px;
    display: none;
    align-items: center;
    position: relative;
}

.double-down-box-visible {
    display: flex;
}

.double-down-text {
    margin-left: 5px;
}

.double-down-popup {
    position: absolute;
    background-color: white;
    border: 2px solid gray;
    display: none;
    padding: 30px;
    height:260px;
    width: 300px;
    flex-direction: column;
    z-index: 9999;
}

.popup-close {
    position: absolute;
    top:10px;
    right:10px;
    font-size:20px;
    color: red;
}

.popup-close:hover {
    cursor: pointer;
}

.double-down-popup h3 {
    margin-top: 0px;
}

.double-down-popup.double-down-popup-visible {
    display: flex;
}

.comment-and-wager-box {
    border: 1px solid #bcbcbc;
    border-top-color: #e9e9e9;
    padding: 10px 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.comment-and-wager-coin-box{
    justify-content: space-between;
}

.comment-and-wager-coin-box .wager-points{
    margin-right: auto;
}

.comment-form {
    display: flex;
}

.comment-form input[type='text'] {
    min-width:300px;
    padding:10px;
    font-size:12px;
    border-radius:0;
}

.comment-form input[type='submit'] {
    background-color: @thronesy-black;
    color:#fff;
    border: 1px solid #000;
    padding: 0 20px;
    margin-left: 5px;

}

.thronesy-button {
    background-color: @thronesy-black;
    color:#fff;
    border: 2px solid #333;
    padding: 10px 20px;
}

.thronesy-white-button {
    background-color:#e9e9e9;
    color: @thronesy-black;
    border: 2px solid @thronesy-black;
    padding: 8px 20px;
}

.onboarding-button {
    width: 250px;
}

.comment-form .form-group {
    margin-bottom: 0px;
}

.comment-form .help-block {
    display:none;
}

.comment-box {
    width: 100%;
}

.comment-box-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 3px;
}

.comment-form .control-label {
    display:none;
}

.extra-margin {
    margin-bottom:40px;
}

.onboarding-splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.onboarding-splash h1 {
    margin: 20px;
}

.onboarding-splash p {
    font-size: 18px;
    width: 500px;
}


.onboarding {
    margin-top:50px;
    background-color: black;
    color: white;
}

.onboarding-inner {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px;
    font-weight: 300;
    letter-spacing: .3px;
}

.onboarding-inner p {
    color:#bcbcbc;
}

.onboarding-step {
    font-weight: 300;
    margin: 20px 0;
}

.onboarding-splash form {
    margin-bottom: 15px;
}

.onboarding-header {
    // TODO: make me white walker blue
    color: @white-walkers;
}

.onboarding-splash p {
    margin-bottom: 40px;
}

.onboarding p {
    margin-bottom: 40px;
}

.onboarding-inner {
    min-height: 337px;
}

.onboarding .carousel {
    min-height: 445px;
    // background-color: black;
}

.carousel a {

   color:#2294F2;
   }

.onboarding-arrows-container {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.onboarding-arrow {
    border: 2px solid #bcbcbc;
    padding: 10px 20px;
    margin: 10px;
}

.onboarding-arrow li a:hover {
    border: 2px solid #fff;
}

.the-rookery h2 {
    margin-bottom: 10px;
}

.read-ravens {
    margin-right: 10px;
}

.view-ravens {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.signup-logo {
    width: 200px;
    height: 200px;
}

.max-hundred {
    max-width: 100%;
}
